<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <title>Login</title>
</head>
<body class="bg-gray-100">
    <div class="h-screen w-full flex items-center justify-center">
        <div class="p-10 rounded-2xl shadow-xl">
            <div class="flex justify-center">
                <h1>Apple</h1>
            </div>
            <h1>Login screen</h1>
            <form method="post" action="/login">
                <input type="text" name="email" id="" placeholder="email">
                <input type="text" name="password" id="" placeholder="password">
                <button type="submit">Skicka</button>
            </form>
        </div>
        <!-- <a href="/index.html">Gå hem</a> -->
    </div>
</body>
</html>